<!DOCTYPE html>
<html>
<head>
    <title>Set Requirements</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='set_requirements_style.css') }}">

</head>
<body>
    <h1>Set Interview Requirements</h1>
    <form method="POST" action="">
        <label for="min_cgpa">Minimum CGPA:</label>
        <input type="text" name="min_cgpa" id="min_cgpa"><br>

        <label for="max_dob">Maximum DOB (YYYY-MM-DD):</label>
        <input type="text" name="max_dob" id="after_dob"><br>

        <input type="submit" value="Set Requirements">
    </form>
</body>
</html>
