<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eligible Companies</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='eligible_companies_style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Eligible Companies</h1>
        <ul class="company-list">
            {% for company in companies %}
                <li>
                    {{ company | upper }}
                    {% if company in existing_companies %}
                        <span class="Applied_message"> Applied</span>
                    
                        <form action="{{ url_for('view_interview_details') }}" method="post" style="display: inline;">
                            <input type="hidden" name="company_name" value="{{ company }}">
                            <button type="submit" name="action" value="see_interview_details">Interview Details</button>
                        </form>
                        {% else %}
                        <form action="{{ url_for('handle_application') }}" method="post" style="display: inline;">
                            <input type="hidden" name="company_name" value="{{ company }}">
                            <button type="submit" name="action" value="apply">Apply</button>
                        </form>
                        <form action="{{ url_for('view_interview_details') }}" method="post" style="display: inline;">
                            <input type="hidden" name="company_name" value="{{ company }}">
                            <button type="submit" name="action" value="see_interview_details">Interview Details</button>
                        </form>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>