<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='questions_style.css') }}">   
    <title>Student Questions</title>
</head>
<body>
    {% for question in questions_data %}
    <div id="questions-container">
        <div class="question-box">
            <div class="company">{{ question[5] | upper}}</div> 
            <h5>ID:{{q_prefix}}{{question[7]}}{{q_suffix}}</h5>
            <div class="student-info" style="font-family: {{ question[8] }};color: {{ question[9] }};font-style: {{ question[10] }};font-weight: {{ question[11] }};font-size: {{ question[12] }}; " >
                <div class="name">{{ question[0] | upper}}</div> <!-- Name -->
                <div class="id">{{ question[1] }}</div> <!-- ID -->
            </div>
            <hr class="line-above">

            <div class="question">{{ question[2] | safe }}</div> <!-- Question -->
            <hr class="line-above">

            <div class="tag-info">
                <div class="tags">Tags: {{ question[4] }}</div> 
                <div class="date">{{ question[3] }}</div> 
            </div>
        </div>
    </div>
    {% endfor %}

    <div id="pagination-container">
        <!-- Pagination buttons will be dynamically inserted here -->
    </div>
</body>
</html>
