<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='student_dashboard_style.css') }}">
</head>
<body>

    <div id="header">
        <div class="header-left">
            <img src="static/plment.png" alt="Logo 1" class="header-logo">
            Student Dashboard
        </div>
        <div class="header-right">
            <img src="static/Career connect.png" alt="Logo 2" class="header-right-logo">
        </div>
    </div>

    <div id="dashboard-container">
        <div id="sidebar">
            <div id="user-details">
                <img id="user-image" src="{{ url_for('student_images', filename=student_image) }}" alt="User Image" style="width: 175px; height: 175px; object-fit: cover; border-radius: 50%;">
                <p><strong>UID:</strong> <span id="name">{{student_uid}}</span></p>
                <p><strong>NAME:</strong> <span id="name">{{student_name | upper}}</span></p>
                <p><strong>BRANCH:</strong> <span id="branch">{{student_branch | upper}}</span></p>
                <p><strong>CGPA:</strong> <span id="cgpa">{{student_cgpa}}</span></p>
                <p><strong>DOB:</strong> <span id="dob">{{student_dob}}</span></p>
                <p><strong>CC Points:</strong> <span id="cc-points">{{cc_points}}</span></p>
                <button class="btn" onclick="logout()">LOGOUT</button>
            </div>
        </div>
        <div class="container">
            <div id="right-section">
            
                <div class="row">
                    <button class="btn1 btn1--ripple" id="ripple" onclick="redirectToEligibleCompanies()">Eligible Companies</button>

                </div> 
    
                <div class="row">   
                    <button class="btn1 btn1--ripple" id="ripple" onclick="redirectToPostInterviewQuestions()">Post Interview Questions</button>
                </div>
    
                <div class="row">
                    <button class="btn1 btn1--ripple" id="ripple" onclick="redirectToViewInterviewQuestions()">View Interview Questions</button>
                </div>
    
                <div class="row">
                    <button class="btn1 btn1--ripple" id="ripple" onclick="redirectToViewResults()">Interview Result</button>       
                </div>

                <div class="row">
                    <button class="btn1 btn1--ripple" id="ripple" onclick="redirectToViewMyQuestions()">My Questions</button>       
                </div>
            </div>
        </div>
        
    </div>

    <script src="static/studash.js"></script>
</body>
</html>





