:root {
  --primary: #f8f7fc;
  --secondary: #010001;
  --text: #a09fa5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text);
  font-family: 'Poppins', sans-serif;
}

main {
  display: grid;
  gap: 2rem;
  grid-template-columns: min-content auto;
  margin: 1rem;
}

.sidebar {
  height: 100%; /* Change from calc(100vh - 2rem) to 100% */
  overflow: hidden;
  background: var(--primary);
  padding: 2rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--text);
  width: 80px;
  transition: width 0.3s ease;
}


.sidebar .menu {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.sidebar .sidebar_item {
  display: grid;
  grid-template-columns: 24px auto;
  padding: 1rem 0;
  list-style: none;
  transition: .3s ease-in-out;
  cursor: pointer;
}

.sidebar .sidebar_item.active span,
.sidebar .sidebar_item.active svg {
  fill: var(--secondary); /* Change the fill color of the active SVG icon */
}


.sidebar .sidebar_item span {
  line-height: 24px;
  font-weight: 500;
  display: none;
  color: var(--secondary);
}

.sidebar.expand {
  max-width: min-content;
  width: 250px;
}

.sidebar.expand .sidebar_item {
  gap: 1rem;
  color: var(--text); /* Set text color for expanded sidebar items */
}

.sidebar.expand .sidebar_item.active {
  gap: 1rem;
  color: var(--text); /* Set text color for expanded sidebar items */
}

.sidebar.expand .sidebar_item span {
  line-height: 24px;
  font-weight: 500;
  color: var(--text); /* Text color for expanded items */
  display: block;
}

.sidebar.expand .sidebar_item:hover span,
.sidebar.expand .sidebar_item.active span {
  color: var(--secondary);
  display: block;
}

.sidebar.expand .sidebar_item.active a,
.sidebar.expand .sidebar_item.active span a {
  color: var(--secondary); /* Change text color for active link */
}


a {
  text-decoration: none;
  color: var(--text);
}

a:visited {
  color: var(--text);
}

a:hover {
  color: var(--secondary);
}

.large-text {
  font-size: 18em; /* Adjust the size as needed */
  line-height: 1.5; /* Adjust the line height as needed */
}
.large-text1 {
  font-size: 3em; /* Adjust the size as needed */
  line-height: 10; /* Adjust the line height as needed */
}
.large-text2 {
  font-size: 6em; /* Adjust the size as needed */
  line-height: 5; /* Adjust the line height as needed */
}


.box {
  flex: 0 0 calc(50% - 30px);
  min-width: 200px;
  height: 600px;
  background-color: #ffffff;
  margin: 15px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  font-size: 18px; /* Change the font size */
  color: #333; /* Change the font color */
}
.box1 {
  flex: 0.8; /* Take up the full available width */
  height: 600px;
  background-color: #ffffff;
  margin: 15px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  font-size: 18px; /* Change the font size */
  color: #333; /* Change the font color */
}


/* Hover effect */
.box:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}


section h2 {
  font-size: 36px; /* Change the font size as desired */
  margin-bottom: 1in; /* Margin below the heading */
}


.box-1{
  flex: auto;
  width: 45%;
  min-width: 200px;
  height: 350px;
  background-color: #ffffff;
  margin: 15px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}


.box-1:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.box-1 h2 {
  /* Styles for the title */
  margin-bottom: 10px; /* Adjust as needed */
}


.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #293338;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: auto;
  min-height: 0px;
  min-width: 0;
  outline: none;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 90%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #293338;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

